/* Общий стиль */
body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    text-align: center;
    color: #333;
}

header {
    text-align: right;
    padding: 10px 20px;
}

header span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

header button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

header button:hover {
    background-color: #0056b3;
}

/* Заголовки */
h1 {
    margin-bottom: 20px;
    color: #444;
}

/* Навигация */
nav {
    margin-bottom: 20px;
}

nav button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
}

nav button:hover {
    background-color: #0056b3;
}

nav button.active {
    background-color: #0056b3;
    font-weight: bold;
}

/* Таблицы */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
}

th span {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    color: gray;
}

th:hover {
    background-color: #e2e2e2;
}

td:nth-child(2) {
    word-break: break-word;
    white-space: normal;
    min-width: 150px;
    max-width: 300px;
}

/* Выпадающий список */
#terminal-id-container {
    position: relative;
    display: inline-block;
}

#terminal-suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 35px;
    left: 0;
    background: white;
    width: 300px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#terminal-suggestions li {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#terminal-suggestions li:hover {
    background-color: #f0f0f0;
    color: #000;
}

#terminal-suggestions li.green {
    color: green;
}

#terminal-suggestions li.red {
    color: red;
}

/* Пагинация */
#pagination, #terminals-pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#pagination button, #terminals-pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#pagination button:hover, #terminals-pagination button:hover {
    background-color: #0056b3;
}

/* Сообщения об ошибках */
p {
    color: red;
    font-weight: bold;
}
